*{
    margin: 0;
    padding: 0;
}

:root {
    --blackbackground: rgb(46, 46, 46);
    --hover-blackbackground: rgb(29, 29, 29);
    --whitebackground: #eeeded;
    --hover-whitebackground:#fff;
    --accent-color: #b99146;
    --hover-accent-color: #c5953b;
    --font-size: 16px;
    --title-font-family: 'Playfair Display', serif;
    --pianist-font-size: font-size: clamp(0.5rem, 1vw, 1.5rem);
    --title-font-size: font-size: clamp(2rem, 4vw, 4rem);
    --paragraph-font-size: font-size: clamp(0.8rem, 1vw, 2rem);
    --shurisoga-font-size: font-size: clamp(1rem, 2vw, 2.5rem);
    --nav-font-size: font-size: clamp(1rem, 1vw, 2.5rem);
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.7;
    display: flex;
    flex-direction: column;
    background-color: var(--blackbackground);
}

h1, h2, h3 {
  font-family: var(--title-font-family);
  font-weight: 800;
}

/*nav bar*/
.layout {
    z-index: 9;
    opacity: 0.8;
}

.menu {
    position: fixed;
    top: 1rem;
    right: 1rem;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 10px;


    display: flex;

    transform: translateY(-140%);
    pointer-events: none;

    transition: transform 1s ease, opacity 0.5s ease;
    
    border-radius: 20px;
    z-index: 9;
    opacity: 0;
}

.links-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius:5px;
    background-color: var(--accent-color);
    gap: clamp(0.5rem, 1.5vw, 2rem);
    padding: clamp(0.5rem, 1.0vw, 2rem);
}


nav a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #eeeded;
    transition: 0.2s ease-in;
    font-size: clamp(1rem, 1vw, 2.5rem);
    border-radius: 5px;
    padding: 2px;
}

nav a:hover {
    color: var(--hover-whitebackground);
    background-color: var(--hover-accent-color);
}


.menu-icon, .close-icon {
    color: var(--whitebackground);
    font-size: clamp(2rem, 3vw, 3rem);
    transition: inherit;
    z-index: 9;
    background-color: var(--accent-color);
    border-radius: 5px;
    animation: slidefromleft 2s ease-in-out 0.2s;
}

.menu-icon:hover, .close-icon:hover {
    color: var(--hover-whitebackground);
}

.open-sidebar-button,.close-sidebar-button {
    display: block;
}

#sidebar-active {
    display: none;
}


#sidebar-active:checked ~ .sidebar {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

#sidebar-active:checked + .menu .menu-icon {
    opacity: 0;
}

#sidebar-active:checked ~ #overlay {
    height: 100%;
    width:100%;
    position:fixed;
    top:0;
    left: 0;
    z-index: 8;
}


/*General for the whole page*/
.main {
    display:flex;
    flex-direction: column;
}

.page {
    padding-bottom: 3vw;
    padding-top:4rem;  
}

.title {
    display: flex;
    align-items: center;
    font-size: clamp(2rem, 4vw, 4rem);
    margin-bottom: 10px;
}

.p1, .p3 {
  background: rgba(46, 46, 46, 0.95);
}

.reveal {
  opacity: 0;
  transition: opacity 0.75s ease-in-out;
  transition-delay: 0.2s;
}

.reveal.show {
  opacity: 1;
}


/*Home*/

.home {
    background-image: url('20240609_202 4.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    min-width: 300px;
    animation: slidefromleft 2s ease-in-out 0.2s;
    font-size: clamp(3rem, 10vw, 13rem);;
    color: #fff;
    text-shadow: 0.08vw 0.08vw 0.05vw var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--title-font-family);
}

.home span {
    color: var(--accent-color);
}

.name {
    padding: 0 1vw;
    z-index: 8;
    position: fixed;
    width: 100%;
    min-height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 2px;
    opacity: 0.8;
    background:transparent;
    transition: background-color 0.4s ease;
    color: #fff;
    text-shadow: 0.05vw 0.05vw 0.05vw var(--accent-color);
}

.name span {
    color: var(--accent-color);
}

.name.scrolled {
    background-color: var(--blackbackground);
}

.shuri {
    padding: 1vw 2vw; 
    font-size: clamp(1rem, 2vw, 2.5rem)
}

.shuri a, .soga a, .pianist a{
    text-decoration: none;
    color: var(--whitebackground);
}

.soga {
    font-size: clamp(1rem, 2vw, 2.5rem);
    padding: 0 10px; 
    background: transparent;
}
.pianist {
    padding-top: max(1vw);
    font-size: var(--pianist-font-size);
    font-style: italic;
    padding-left: 10px;
}

@keyframes slidefromleft {
    0% {
        transform: translateX(-3rem);
        opacity: 0.3;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
        box-shadow: 0px 0px 50px black;
        
    }
}




/*Bio*/

.p1 {
    background: var(--blackbackground);
    margin: 0;
    color: var(--whitebackground);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.p1-for-background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--blackbackground);
    opacity: 0.9;
    width: clamp(10rem, 80vw, 90rem);
    padding: 3vw;
    border-radius: 1rem;
    border: none;
    box-shadow: 0.08vw 0.08vw 1vw black;
}

.biotitle {
    justify-content: flex-start;
    margin-left: 10vw;
}


.contentp1{
    display:flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
}

.img2 {
    height:auto;
    max-inline-size: clamp(15rem, 30vw, 40%);
    border-radius: 15px;
    box-shadow: 2px 2px 3px var(--accent-color);
}

p {
    max-width: 50rem;
    font-size: clamp(0.8rem, 1vw, 2rem);
    padding-left: clamp(1.5rem, 1vw, 2rem);
    padding-right: clamp(1.5rem, 1vw, 2rem);
    padding-bottom: clamp(1rem, 1vw, 2rem);
    padding-top: clamp(1rem, 1vw, 2rem);
}

.paragraph-more {
    display: none;
}

.show-more-btn {
    font-size: clamp(0.8rem, 1vw, 2rem);
    padding: 4px 8px;
    background-color: var(--accent-color);
    border-radius: 5px;
    color: var(--hover-whitebackground);
}

.show-more-btn:hover {
    background-color: var(--hover-accent-color);
}

/*Gallery*/
.p2 {
    background: var(--whitebackground);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.p2:first-child{
    color: var(--whitebackground);
    width: 100%;
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
}

.gallery img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    aspect-ratio: 1/1;
}


.gallery img {
    filter: grayscale(100%) contrast(1.05);
    transition: filter 0.5s ease;
    box-shadow: 0.5vw 0.5vw 0.5vw var(--accent-color);
}

.gallery-item:hover img {
    filter: grayscale(0%);
}

.gallery-item {
    padding: 0.75rem;
    transition: transform 0.75s ease;
    transform-style: preserve-3d;
}

.gallery-item:hover {
    transform: rotateY(6deg) rotateX(8deg);
}

@media (max-width: 768px) {
  .gallery {
    gap: 2.5rem;
  }

  .gallery-item:hover .gallery-item:hover {
    transform: none;
  }
}

/*events*/
.p3 {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 5vw;
}

.calender-title {
    color: var(--whitebackground);
    display: flex;
    flex-direction: column;
    margin-bottom: 5vw;
}

.title h3 {
    opacity: 0.8;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
    color: var(--accent-color);
}



.events {
    color: var(--whitebackground);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    gap: 4vw ;
}

.events li {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    transition: 0.2s ease;
    border-radius: 5px;
    padding: 1rem;
}

.events li:hover {
    background-color: var(--hover-blackbackground);
}
.when {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.termin {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    align-items: center;
    width: 40%;
}

.concert,.time{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.date, .time {
    width: 100%;
    text-align: center;
}

.date div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
}

.month, .place{
    opacity: 0.8;
    font-size: var(--paragraph-font-size);
    color: var(--accent-color);
}
.time {
    font-size: var(--paragraph-font-size);
    font-family: var(--title-font-family)
}

.day, .concert-type{
    font-family: var(--title-font-family);
    font-size: clamp(1rem, 2vw, 2.5rem);
}

.concert-type {
    text-align: center;
}

.place {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: none;
    border:none;
    z-index: 0;
}

.info span {
    color: var(--whitebackground);
    font-family: var(--title-font-family);
    background-color: var(--accent-color);
    padding: 0.5vw;
    border-radius: 5px; 
    box-shadow: 1px 1px 1px black;
    text-wrap: wrap;
    z-index: 2;
}

.info span:hover {
    background-color: var(--hover-accent-color);
} 

@media (max-width: 400px) {
    .termin {
        flex-wrap: wrap;
    }
}

/*Contact*/
.contact {
    background:linear-gradient(
        180deg,
        var(--accent-color) 0%,
        var(--blackbackground) 100%
    );
}

.contact-title,.contact-form label {
    color: var(--blackbackground);
}

.contact-title{
    margin-bottom: 5vh;
    justify-content: center;
}

.last-page {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap-reverse;
    gap: 6vw;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6vw;
    min-width: 10rem;
}

.message {
    font-size: clamp(1rem, 2.3vw, 2.5rem);
    color: var(--whitebackground);
}

.icons {
    display: flex;
    
}

.contact-form {
    margin-bottom: 4rem;
    gap: 2vw;
    background-color: var(--blackbackground);
    opacity: 0.8;
    width: clamp(15rem, 40vw, 60rem);
    height: 100%;
    padding: clamp(1.5rem, 1.5vw, 10rem);
    border-radius: 5px;
    font-family: var(--title-font-family);
    box-shadow: 3px 3px 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-input {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.contact-form label {
    padding-left:10px;
    margin-bottom: 10px;
    font-size: clamp(0.8rem, 1vw, 2rem);
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--whitebackground);
}

.contact-form input{
    width: 25vh;
    height: 4vh;
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--blackbackground);
    padding:2px;   
    transition: background-color 0.5s ease;
}

textarea {
    width: 25vh;
    height: 8vh;
    border-bottom: 1px solid var(--accent-color);
    background-color: var(--blackbackground);
    padding:2px;   
    transition: background-color 0.5s ease;
    font-family: 'Inter', sans-serif;
}

.contact-form input:hover,textarea:hover {
    background-color: var(--accent-color);
}

.submit-btn {
    font-family: var(--title-font-family);
    font-size: clamp(0.8rem, 1vw, 2rem);
    font-weight: bold;
    border: none;
    padding: 2px 5px;
    transition: background-color 0.5s ease;
    width: clamp(3rem, 5vw, 6rem);
}

.submit-btn:hover {
    background-color: #fff;
    box-shadow: 2px 2px 3px var(--accent-color);
    cursor: pointer;
}

.submit-btn:active {
    transform: translate(2px 1px)
}

.submit-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed
}

@media (max-width: 450) {
    .contact-form {
        width: 60rem;
    }
}
/*Footer*/

footer {
    background-color: var(--blackbackground);
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.facebook,.youtube {
    margin: 0 20px;
    font-size: clamp(8px, 40px, 64px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: var(--whitebackground);
}
.facebook:hover, .youtube:hover {
    color: var(--hover-whitebackground);
}

.to-portfolio {
    position: fixed;
    right: 0; 
    bottom: 0;
    font-size: 10px;
    color: green;
    text-decoration: none;
}


@media(max-width: 500px) {

    .pianist {
        display: none;
    }

    .p {
        letter-spacing: none;
    }
}